<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
</ul>
<!-- <vcs-datatable [data]="(fakeData$ | async) ?? []" [columns]="columns" (rowSelected)="onRowSelected($event)" (search)="onSearch($event)"></vcs-datatable> -->

<!-- <vcs-sidenav>
  <h1>my-contetnt</h1>
  <router-outlet></router-outlet>
</vcs-sidenav> -->

<div class="container" style="margin: 500px;">
  <!-- <vcs-date-picker
    [placeholder]="'Chọn ngày sinh'"
    [format]="'dd/MM/yyyy'"
    [disabled]="isDisabled"
    (dateChange)="onBirthdayChange($event)">
  </vcs-date-picker> -->
  <vcs-toast message="Hello World" type="success" [duration]="duration"></vcs-toast>
  <button (click)="onToastClick()">Success Toast</button>
  <button (click)="showInfoToast()">Info Toast</button>
  <button (click)="showWarningToast()">Warning Toast</button>
  <button (click)="showErrorToast()">Error Toast</button>
</div>
