<form [formGroup]="formGroup">
  <lib-input
    [customErrorMessages]="errorMessages"
    label="Hello"
    inputId="myId"
    formControlName="name"
    (inputValChange)="onInputValChange($event)"

  ></lib-input>
  <lib-select
    label="Hello"
    selectId="myId"
    [options]="options"
    formControlName="age"
  ></lib-select>

  <vcs-select
    label="Hello"
    selectId="myId"
    [options]="options"
    [multiple]="true"
  ></vcs-select>

  <!-- <custom-datetime-picker
    formControlName="dateTime"
    (dateValChange)="onDateValChange($event)"
  >
  </custom-datetime-picker> -->
</form>

{{ formGroup.value | json }}
