<form [formGroup]="formGroup">
  <lib-input
    [customErrorMessages]="errorMessages"
    label="Hello"
    inputId="myId"
    formControlName="name"
    (inputValChange)="onInputValChange($event)"

  ></lib-input>
  <lib-select
    [customErrorMessages]="errorMessages"
    label="Hello"
    selectId="myId"
    [options]="['1', '2', '3']"
    formControlName="age"
  ></lib-select>

  <custom-datetime-picker
    formControlName="dateTime"
    (dateValChange)="onDateValChange($event)"
  >
  </custom-datetime-picker>
</form>

{{ formGroup.value | json }}
